@media (min-width: 1024px) {
  #menu-button {
    display: none;
  }

  main.home-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  main.home-grid .hero {
    grid-column: 1 / span 2;
  }

  main.home-grid .spotlights-container {
    grid-column: 1 / span 2;
  }

  .spotlight-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  main.home-grid .weather-card,
  main.home-grid .events-card {
    height: 100%;
  }

  .membership-tiers {
    grid-template-columns: repeat(3, 1fr);
  }

  .join-form-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  .join-form .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .discover-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .directory-controls {
    flex-wrap: nowrap;
  }

  .grid-layout {
    grid-template-columns: repeat(3, 1fr);
  }

  .list-layout .business-card .card-header {
    flex: 1 1 30%;
  }

  .list-layout .business-card .card-content {
    flex: 1 1 70%;
  }

  .contact-info-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
